<div class="questionnaire-container">
  <div class="header">
    <h2 style="margin-bottom: 5px">Cuestionario de Compatibilidad</h2>
    <p style="margin-top: 0">
      Responde estas preguntas para encontrar a tu mascota ideal
    </p>
  </div>
  <div class="progress-container">
    <div
      class="progress-bar"
      [style.width]="(getAnsweredCount() / preguntas.length) * 100 + '%'"
    ></div>
    <span class="progress-text"
      >{{ getAnsweredCount() }}/{{ preguntas.length }} respondidas</span
    >
  </div>

  <div class="questions-wrapper">
    <div
      *ngFor="let pregunta of preguntas"
      class="question-card"
      [class.active]="isCurrentQuestion(pregunta.id)"
    >
      <div class="question-header">
        <span class="question-number">Pregunta {{ pregunta.id }}</span>
        <h3 class="question-text">{{ pregunta.texto }}</h3>
      </div>

      <div class="options-container">
        <div
          *ngFor="let opcion of pregunta.opciones"
          class="option"
          [class.selected]="respuestas[pregunta.id] === opcion.id"
          (click)="selectOption(pregunta.id, opcion.id)"
        >
          <span class="option-text">{{ opcion.texto }}</span>
        </div>
      </div>
      <div class="navigation-buttons" *ngIf="isCurrentQuestion(pregunta.id)">
        <button
          class="nav-btn"
          (click)="anteriorPregunta()"
          [disabled]="currentQuestionId === 1"
        >
          Pregunta Anterior
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="mensajeError" class="error-message" #mensajeErrorDiv>
    <div class="error-content">
      <i class="fas fa-exclamation-circle"></i>
      <div>
        <h4>{{ mensajeError.titulo }}</h4>
        <p>{{ mensajeError.texto }}</p>
      </div>
    </div>
  </div>

  <button class="submit-btn" (click)="enviarRespuestas()" [disabled]="enviando">
    {{ enviando ? "Enviando..." : "Enviar respuestas" }}
    <i class="fas fa-paw"></i>
  </button>

  
</div>

<!-- Modal fuera del flujo -->
<div class="modal-overlay" *ngIf="mostrarModal">
  <div class="modal-content soulpet-modal">
    <i class="fas fa-paw modal-icon"></i>
    <h2>¡Compatibilidad encontrada!</h2>
    <p>Se te ha asignado un perfil emocional.</p>
    <p>Ahora serás redirigido a tu perfil.</p>
    <p>Para ver tus recomendaciones, entra a 'mascotas' y usa el filtro de <strong>Recomendadas</strong>.</p>
    <button (click)="cerrarModalYRedirigir()">Ver mi perfil</button>
  </div>
</div>
